body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: #000000;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container {
    text-align: center;
    color: #f4f4f4;
}

h1, h2 {
    font-size: 10vh;
    margin: 0;
}

h1:hover {
    cursor: pointer;
}

p {
    margin: 10px 0;
}

.buttons {
    margin-top: 20px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    border-color: white;
    border-style: solid;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    text-decoration: none;
}


.button:hover {
    border-color: rgb(0, 0, 0);
    border-style: solid;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    transition: color 0.5s;
}
